# OpenOCD read ADC clock registers
source [find interface/stlink.cfg]
adapter speed 4000
source [find target/stm32h7x.cfg]

init
halt

echo "REG_PLL3DIVR"
mdw 0x58024414 1
echo "REG_PLLCKSELR"
mdw 0x58024408 1
echo "REG_D3CCIPR"
mdw 0x58024458 1
echo "REG_ADC12CCR"
mdw 0x40002304 1
echo "REG_ADC3CCR"
mdw 0x58006304 1
echo "REG_ADC1CFGR"
mdw 0x40002208 1
echo "REG_ADC1SMPR1"
mdw 0x4000220C 1
echo "REG_RCCCR"
mdw 0x58024400 1

resume
shutdown
